#container {
  background-color: #0e8835;
}

#printout {
  min-height: rem-calc(200);
}

.section {

  &.on_turn {
    background-color: #628e3c;

    .card {
      cursor: pointer;
      &:hover {
        border: 1px inset gray;
      }
    }

  }



  .card {
    display: inline-block;
    width: rem-calc(40);
    height: rem-calc(60);
    border: 1px outset gray;
    background-color: $medium-gray;
    margin: rem-calc(5);
    text-align: center;
  }



}